<div class="event-talk row">
  <div class="start-time span1"><%= talk.start_at.strftime('%H:%M') %></div>
  <div class="details span8"><a href="foo"><%= talk.title %></a>
    by <a href="user"><%= talk.speaker %></a></div>
</div>
