<% if model.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <% # Using the following rather than pluralize since I don't want the count. %>
      Please correct the <%= (model.errors.count > 1) ? "errors" : "error" %>
      below.
    </div>
  </div>
<% end %>
