/* Bootstrap customization */

$baseFontFamily: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$sansFontFamily: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$linkColor: #00a235;

/* Include Bootstrap */

@import "bootstrap";
@import "bootstrap-responsive";

/* Custom mixins, variables, etc. */

$smallerFontSize: $baseFontSize * 0.85;

@mixin font-family-sans-serif() {
  font-family: $sansFontFamily;
}

@mixin panel {
  padding: 8px 0;
  small {
    font-size: $smallerFontSize;
    color: $gray;
    display: block;
    float: right;
  }
  .nav-header {
    letter-spacing: 1px;
    padding-bottom: 8px;
    border-bottom: 2px solid $grayLighter;
  }
}

/* Overall layout styles */

#content {
  margin-top: $navbarHeight + 20px;
}

.footer {
  border-top: 2px solid $grayLighter;
  padding-top: 20px;
  color: $grayLight;
}

.help-block {
  color: $grayLight;
}

.debug_dump {
  background-color: transparent;
  border: 0px;
}

.teams-panel {
  @include panel;
}

.projects-panel {
  @include panel;
}

.events-panel {
  @include panel;
}

.more-link {
  border-top: 2px solid $grayLighter;
  text-align: right;
}

.underscored {
  border-bottom: 2px solid $grayLighter;
  padding-bottom: 5px;
  margin-bottom: 16px;
}

.news-item {
  border-top: 2px solid $grayLighter;
  padding: 8px 0;
  vertical-align: top;
  &:last-child {
    border-bottom: 2px solid $grayLighter;
  }
  .avatar {
    padding-right: 5px;
    vertical-align: middle;
  }
  .author {
    padding-top: 5px;
    font-size: $smallerFontSize;
    color: $grayLight;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.field-errors {
  float: right;
  display: inline-block;
  padding-right: 14px;
  @extend .error;
}


/* Users */

.users {
  list-style: none;
  margin: 0;
  li {
    .avatar {
      padding-right: 10px;
    }
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


/* Profile */

.profile .avatar {
  display: inline-block;
  float: left;
  @include border-radius(5px);
  margin-right: 20px;
  vertical-align: middle;
  .contact-info {
    display: inline-block;
    vertical-align: middle;
  }
}

.news-feed {
  clear: both;
  padding-top: 20px;
  .news-item:last-child {
    border-bottom: 0px;
  }
}
